.ChangePassword {
    padding: 30px 20px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ChangePassword form {
    margin: 0 auto;
    padding: 20px 30px;
    background-color: rgb(255, 255, 255);
    max-width: 400px;
    border: 2px solid #3d3d3d;
    border-radius: 5px;
}