.login-form {
  padding-top: 10px;
  align-items: center;
  margin: auto !important;
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.login {
  text-align: center;
  padding-top: 10px;
}