{
  "env": {
    "node": true
  },
  "extends": ["airbnb-base"],
  "plugins": ["promise"],
  "rules": {
    "linebreak-style": "off",
    "no-console": "error",
    "promise/always-return": "error",
    "promise/no-return-wrap": "error",
    "promise/param-names": "error",
    "promise/catch-or-return": "error",
    "promise/no-native": "off",
    "promise/no-nesting": "error",
    "promise/no-promise-in-callback": "error",
    "promise/no-callback-in-promise": "error",
    "promise/no-return-in-finally": "error",
    "prefer-arrow-callback": "error",
    "no-multiple-empty-lines": "off",
    "eol-last": "off",
    "no-underscore-dangle": "off",
    "no-extra-boolean-cast": "off",
    "comma-dangle": "off",
    "consistent-return": "off",
    "indent": "off",
    "import/no-unresolved": "off"
  }
}